<div class="row">
  <div class="col-md-12 col-6">
    <div *ngFor="let item of related" class="card mb-2" style="max-width: 440px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="'./assets/img/' + item.img" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
            <small class="text-muted">Vistas: {{item.view}}</small> | <button (click)="verImagen(item)" class="btn btn-danger btn-sm">Ver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
